<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>OS Algorithms</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to <br>OS Algorithms Calculator:</h1>
    <h2>Choose One Algorithm To Calculate A.W.T :</h2>
    <ul>
        <li><a href="{% url 'fcfs' %}">First Come First Serve Algorithm</a></li>
        <li><a href="{% url 'priority' %}">Priority Scheduling Algorithm</a></li>
        <li><a href="{% url 'sjf' %}">Shortest Job First Algorithm (non-Preemptive)</a></li>
        <li><a href="{% url 'preemptive_sjf' %}">Shortest Job First Algorithm (Preemptive)</a></li>
        <li><a href="{% url 'round_robin' %}">Round Robin Algorithm</a></li>
        <li><a href="{% url 'bankers_form' %}">Banker's Algorithm</a></li>
    </ul>
</body>
</html>